/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  margin-bottom:0.5em;
  font-size: 0.9em;
}

svg {


  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  
}

.brushed {
  color:#61dafb;
}

.prev-brushed {
  color:#5f605f;
}

body {
  margin: 0px;
  overflow: hidden
}
.container {
  margin:0;
}
/* 
.panel {    
  display: flex;
  justify-content: center;
  align-items: center;
} */

.header {
  background: lightblue;
  min-height: 50px;
  height: 100%;
}
.footer {
  background: lightblue;
  height: 100%;
  display:flex;
  flex-flow: column nowrap;
  align-items: stretch;
  text-align: center;
  justify-content: flex-start;
  overflow: hidden;
}
.footerArea{
  flex-grow: 1;
  display: flex;
  min-height: 100px;
  flex-flow: column;
  overflow-y: auto;
}
.footerAreaContent {
  min-height: 500px;
}
.footerBottomBar {
  background: blue;
  color: white;
  padding: 10px
}
.body {
  flex-grow: 3;
  display: flex;
  flex-flow: row nowrap;
}


.content {
  flex-grow: 2;  
  background: white; 
}

.customHandle {
  cursor: ew-resize;
  width: 10px;
  height: 100px;
  margin: 0px -5px;
  background: lightblue;
  border: 2px solid gray;
  border-radius: 2px;
  text-align: center;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center ;
}

.customResizeBorder {
  cursor: ew-resize;
  width: 5px;
  background: gray;
  display: flex;
  z-index: 99999;
  align-items: center ;
  align-content: center ;
  justify-content: center;
  overflow: visible;

}

/* Left panel */
.panel {
  /* background-color: rgb(250, 250, 250);
  border: 1px solid rgb(205, 205, 205);*/
  font-size: 75%;
  width: 320px;
  height: 100vh;
  padding: 1em;
  overflow: scroll;
  overflow-x: scroll;
}

.display-btn {
  position: absolute;
  top: 100px;
  right: 15px;
  background: #e8e8e8;
  color: #000000;
  border: 0;
  padding: 5px 15px 5px 14px;
  border-radius: 5px;
}

.button-box {
  display:flex;
  margin-bottom: 0.5em;
}

.button-box #findSubstring {
  margin-right: 0.5em;
}

#explanation {
  color:#838383;
  font-weight: 600;
}

#bookmarkButton {
  margin-top:1em;
  margin-left:1em;
}

#cachedDataButton {
  margin-top:1em;
}

.title svg.help-icon {
  margin-left: 0.25em;
  color: grey;
}

.title {
  display:flex;
  /* font-size:medium; */
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
}

select {
  margin-top:0.5em;
}

.key-item {
  margin-bottom:0.25em;
}

.key-item svg {
  display: inline;
  margin-right: 0.4em;
  margin-bottom: -0.15em;
  border:#939393 0.1em solid;
  border-radius: 0.1em;
  padding: 0 0.075em;

  transition: color 0.3s ease-out 0s;

}

.key-item p {
  display: inline;
  margin-bottom: 0.2em;
}

/* Right panel */
.right {
  position:fixed;
  right:0;
  overflow: scroll;
  width:400px;
}

.positive-mark-1 {
  background-color:rgb(0, 94, 0);
  color:white;
}

.positive-mark-2 {
  background-color:rgb(96, 174, 96);
}

.positive-mark-3 {
  background-color:rgb(212, 244, 212);
}

.negative-mark {
  background-color:rgb(238, 130, 130);
}

#unique-items-div {
  margin-top: 2em;
}

#cloud-div {
  height: 315px;
  
  display:flex;
  width: 100%;
  overflow:hidden;
}

.placeholder-image {
  height:100%;
  width:100%;
}

#positive-cloud-div {
  margin-right:0.5em;
  width:100%

}

#negative-cloud-div {
  width:50%

}

.resetButton {
  margin-left: 0.5em;
}


#promptTextArea {
  margin-bottom: 0.7em;

}


/* svg#positive-cloud, svg#negative-cloud {
  height: 300px;
} */

.footerSpacing {
  height: 10%;
}

#seeAllButton {
  margin-left:0.5em;
}

.tableDiv {
  height:40%;
  overflow:scroll;
}

tbody{
  font-size:0.8em;
}

/* Disable scrolling */
html, body {margin: 0; height: 100%; overflow: hidden}

/* Lasso */
path {
  stroke:rgb(0, 0, 0);
  stroke-width: 2;
}

/* Circles */
/* circle {
  transition: visibility 0.2s, opacity 0.2s ease-in;
} */

/* Slider formatting */
.sliderBlock {
  display:flex;
  padding: 0 0.5em 0 0.5em;
  justify-content: space-between;
}

.sliderBlock p.sliderLabel {
  width:50%;
}

.sliderBlock p {
  width:25%;
}

Slider {
  width:50%
}

div.sliderBlock p {
  padding: 0 0.5em 0 0;
}

div.sliderBlock p.paramValue {
  padding: 0 0 0 0.5em;
}

div.sliderBlock Slider{
  width:50%;
}

/* table formatting */
th {
  font-weight:600;
}

.label {
  cursor:pointer;
}

.label:hover {
  background-color: rgb(232, 243, 255);
}

/* Table {
  background-color: white;
} */

.submitButton {
  display:flex;
}

.submitButton Button {
  margin-right: 1em;
}

CircularProgress {
  color: rgb(106, 146, 214);
}


